<%= form_with model: task do |f| %>
<div class="card">
  <div class="card-body">

    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :details %>
      <%= f.text_field :details, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :completed %>
      <%= f.check_box :completed %>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
